/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
/* common styles */

:root {
    --primary-blue: #289BDE;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner-title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 5.1rem;
}

.course-price {
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}

/* media query for banner only */

@media screen and (max-width:768px) {
    .banner-title {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (max-width:991px) {
    .banner-title {
        font-size: 3rem;
        line-height: 4rem;
    }
}